* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(225, 229, 235);
    list-style-type: none;
   
}


h1 {
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 20pt;

}

.searchbar{
    display: flex;
    flex-direction: row;
    align-items: right;
    color: #a6a5a5;
    border-radius: 30px;
    padding: 10px 24px;
    /* border: 2px solid #a6a5a5; */
    
}

.headerr {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.behancefont {
    /*font-size: 20pt;*/
    /*padding: 5px;*/
    width: 80px;
    height: 15px;
    margin: 7px;
}

.adobefont {
    /*font-size: 20pt;*/
    /*padding: 5px;*/
    width: 50px;    
    margin: 7px;
}


.liheader {  
    font-size: 15pt;
    padding: 5px;
}

.sectionul {
    display:flex; 
    flex-direction: row;
    justify-content: space-between;
}

.add{
    background-color:blue;
    border-radius: 250px;
    width: 70px;
    height: 70px;
    margin: 20px;

}
.peoplesection{
    background-color:rgb(131, 131, 128);
    border-radius: 250px;
    width: 70px;
    height: 70px;
    margin: 20px;
}

.mainnav{
    display:flex; 
    flex-direction: row;
}

.linavi{
    font-size: 15pt;
    padding: 10px;
}

.articlesnav{
    display:flex; 
    flex-direction: row;
    justify-content: space-between;
}

.articleFirst{
    margin: 7px;
    /*background-color:blue;*/
    border-radius: 5px;
    width: 300px;
    height: 200px;
}

.theFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.FooterList {
    font-size: 10pt;
    padding: 5px;
}

.FooterListTwo {
    font-size: 10pt;
    padding: 5px;
}

.buttonn {
    
    display:flex; 
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    color: black;
    border-radius: 30px;
    padding: 10px 24px;
    border: 2px solid #a6a5a5; /* Green */
    
}

.moreicons {
    display:flex; 
    flex-direction: row;
}

.pic{
    /*background-color:blue;*/
    border-radius: 250px;
    width: 30px;
    height: 30px;
    margin: 20px;
}

.adobe{
font-size: 15pt;
padding: 5px;
}